.navbar {
    min-height: 80px;
    height: auto;
}

#emergency-label {
    font-size: 10px;
    font-weight: 600;
    padding-bottom: 5px;
}

.mtop-nav-fix {
    margin-top: 20px;
}

.btn-hover-nav:hover {
    background: linear-gradient(to right, #00dce8, #01787f);
    color: rgb(255, 255, 0);
}

.login-btn {
    background-color: #0087ad;
    color: white;
}

.login-btn:hover {
    background: linear-gradient(to right, #00c8ff, #007C9D);
    color: white;
    border: 1px solid #007C9D;
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-footer {
    border-top: none;
    padding-top: 0;
    justify-content: center;
}

.login-btn {
    transition: all 0.3s ease;
}

.login-btn:hover {
    transform: translateY(-2px);
}

.auth-form {
    transition: opacity 0.3s ease;
    padding: 32px;
}

.modal-footer a {
    text-decoration: none;
    font-weight: 500;
}

.modal-footer a:hover {
    text-decoration: underline;
}

.fixed-bottom-right {
    height: 50px;
    width: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: rgb(255, 156, 42);
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fixed-bottom-right:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: #0087ad;
    background-color: rgb(255, 156, 42);
}
.fixed-bottom-right:active {
    color: #0087ad !important;
    background-color: rgb(255, 156, 42) !important;
}

@media (max-width: 768px) {
    .fixed-bottom {
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        border-radius: 0;
        color: white;
        background-color: rgb(255, 156, 42);
    }
    .fixed-bottom:hover {
        color: #0087ad;
        background-color: rgb(255, 156, 42);
    }
    .fixed-bottom:active {
        color: #0087ad !important;
        background-color: rgb(255, 156, 42) !important;
    }
}

#goTo .col .card {
    min-height: 150px;
    height: auto;
    max-width: 150px;
    width: auto;
    border: none;
    border-radius: 20%;
    box-shadow: 6px 6px 70px rgb(16 40 81 / 23%);
}

#goTo .col .card:hover {
    cursor: pointer;
    border-color: #01C9C9;
    background: linear-gradient(281deg, #007C9D, #01C9C9);
}

.responsive-text {
    font-size: 0.9rem;
    font-weight: 400;
}

@media (min-width: 576px) {
    .responsive-text {
        font-size: 1.1rem;
    }
}

.role-selec {
    border-radius: 10%;
}
.role-selec:active {
    border: 2px solid #0087ad;
}

#home-banner img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
}

.specialties h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.specialties ul {
    list-style: none;
    padding-left: 0;
}

.specialties ul li {
    margin-bottom: 10px;
}

.specialties ul li a {
    text-decoration: none;
    color: #333;
}

.specialties ul li a:hover {
    color: #007C9D;
}

.view-more {
    margin-top: 20px;
}

.askAIbtn {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    background-color: #3674B5;
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: width 0.3s ease;
    outline: none;
    border: none;
    border-radius: 50rem;
}

.askAIbtn .askAItitle {
    white-space: nowrap;
    margin-left: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.askAIbtn:hover {
    width: 120px;
    border: 2px solid transparent;
    background-image: 
        linear-gradient(#578FCA, #B2A5FF),
        linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    }

.askAIbtn:hover .askAItitle {
    opacity: 1;
}

.askAIbtn:hover .bi-stars::before {
    padding-top: 0px;
}

.bi-stars::before {
    padding-top: 10px;
}

@media(max-width:768px) {
    .askAIbtn.expanded {
        width: 120px;
        border: 2px solid transparent;
        background-image: 
            linear-gradient(#578FCA, #B2A5FF),
            linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
    
    .askAIbtn.expanded .askAItitle {
        opacity: 1;
    }

    .bi-stars::before {
        padding-top: 0px;
        padding-left: 18px;
    }
} 

.moveRight {
    position: absolute;
    animation: moveToRight 2s forwards;
  }


.chat-popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 360px;
    max-height: 450px;
    background-color: #E1C9E4;
    color: #292929;
    /* background-color: #f5deb3;
    background-color: #692CA5; */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1000;
}
  
.chat-header {
    color: black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.close-btn {
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
  
.chat-body {
    padding: 10px;
    overflow-y: auto;
    flex: 1;
}
  
.chat-footer {
    display: flex;
    padding: 10px;
}
  
.chat-footer input {
    flex: 1;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #707070;
    background-color: #E1C9E4;
}
.chat-footer input:focus-visible {
    outline: none;
}
  
.chat-footer button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: #E1C9E4;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
}
.chat-footer button:hover {
    background-color: #d8b3dd;
}
  
.chat-open-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.hidden {
    display: none !important;
}

.chat-msg-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    max-width: 85%; 
}

.chatbot-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc; 
}

.chat-msg-container:not(.d-flex.justify-content-end) {
    gap: 10px;
}
.user-msg-container {
    justify-content: flex-end;
}

.AImsg {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #C292C8;
    /* background-color: #8e2c9b; */
    /* background-color: #f5deb3; */
    max-width: 85%;
    word-break: break-word;
    white-space: normal;
}
.Usermsg {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #f5deb3;
    color: #200f7c;
    max-width: 85%;
    word-break: break-word;
    white-space: normal;
}